
*~
.#*
*#
#*.lock
*.DS_Store

/emacs.d/.*
/emacs.d/abbrevs
/emacs.d/ac-comphist.dat
/emacs.d/auto-save-list
/emacs.d/auto-save-list
/emacs.d/backups/
/emacs.d/bookmarks
/emacs.d/custom.el
/emacs.d/ede-projects.el
/emacs.d/eln-cache/
/emacs.d/elpa/
/emacs.d/eshell/history
/emacs.d/eshell/lastdir
/emacs.d/extern/cask/
/emacs.d/geben/
/emacs.d/ido.last
/emacs.d/info/
/emacs.d/local.el
/emacs.d/lsp_docker_client_config.el
/emacs.d/projectile*
/emacs.d/projects
/emacs.d/recentf
/emacs.d/semanticdb
/emacs.d/session.*
/emacs.d/smex-items
/emacs.d/srecode-map.el
/emacs.d/straight/
/emacs.d/tramp
/emacs.d/tramp_remote_hosts.el
/emacs.d/transient/
/emacs.d/url

/.local