[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=SQLiteStudio (3.0.6) - [upload_queue (photostation)]
Icon=sqlitestudio.png
Path=/opt/SQLiteStudio
Exec=/opt/SQLiteStudio/sqlitestudio
StartupNotify=false
StartupWMClass=sqlitestudio
OnlyShowIn=Unity;
X-UnityGenerated=true
